/* CRIAR NOVO CSS */
.container-pai{
    background-color: white;
    width: 70%;
    max-width: 1366px;
    margin: 0 auto;
    box-shadow:
        5px 0 10px rgba(0, 0, 0, 0.15),
        -5px 0 10px rgba(0, 0, 0, 0.15);
}

body{ 
    background-color: #f5f5f5;
}

.container-pai h1, .container-pai h2{
    padding-left: 15px;
    padding-top: 5px;
}

.font-coord{
    font-size: 25px;
}

.fei-nav{
    margin: -30px;
}

/** RESPONSIVO **/
@media screen and (max-width: 1024px){
    header nav:nth-child(1),
    header nav:nth-child(2) > div{
      width: 90% !important;
    }
    header nav:nth-child(2) div ul li a{
      margin: 0 !important;
    }

    .card-body{
      width: 100% !important;
    }
  }